.main {
  flex: 1;
  padding: 2rem 0;
}

.content {
  padding: 2rem 0;
}

.content h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
}

.content p {
  font-size: 1rem;
  line-height: 1.6;
  color: #666;
}


